NEXT_PUBLIC_SUPABASE_URL=https://cuybzacngvrcrjcjfsdy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN1eWJ6YWNuZ3ZyY3JqY2pmc2R5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAyMTI4MDksImV4cCI6MjA5NTc4ODgwOX0.RcMRTyywz3d8gGw4ZSM_M4pES_Id-ZOOOk4HljhvLQU
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN1eWJ6YWNuZ3ZyY3JqY2pmc2R5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDIxMjgwOSwiZXhwIjoyMDk1Nzg4ODA5fQ.FjjmItuF-gEeMjFVzdJKaGLF7eUDYqBCuEeZJYCxcgw
RESEND_API_KEY=your_resend_api_key
NOTIFY_EMAIL_1=leticianoumsi54@yahoo.com
NOTIFY_EMAIL_2=romuldich@gmail.com
NOTIFY_WHATSAPP_1=+237696327075
NOTIFY_WHATSAPP_2=+237690702286
TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_WHATSAPP_FROM=whatsapp:+14155238886
